<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.dao.BookMapper">

    <insert id="addBook" parameterType="Books">
        insert into books(bookName , bookCounts , detail)
        values(#{bookName} , #{bookCounts} , #{detail})
    </insert>
    <update id="updateBook">
        update books
        set bookName = #{bookName} , bookCounts = #{bookCounts} , detail = #{detail}
        where bookID = #{bookID}
    </update>
    <delete id="deleteBook">
        delete from books
        where bookID = #{id};
    </delete>
    <select id="selectBook" resultType="com.qing.pojo.Books">
        select *
        from books;
    </select>
    <select id="seleBookByID" resultType="com.qing.pojo.Books">
        select *
        from books
        where bookID = #{id};
    </select>
    <select id="queryBook" resultType="com.qing.pojo.Books">
        select *
        from books
        where bookName = #{bookName};
    </select>
</mapper>